@import '~mdb-ui-kit/css/mdb.min.css';

h2{
    padding: 1rem;
}

 .small-margin-bottom{
    margin-bottom: 10px;
}

.list-title{
    color:blue;
    font-size: 1.15rem;
    font-weight: bold;
}

.small-margin-top{
    margin-top: 0.5rem;
}
